// --------------------------
// VARIABLES
// --------------------------
$maincolor: black;
$contrastcolor: white;

@mixin white-text-black-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin black-test-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

// --------------------------
// Header
// --------------------------
body {
    background-color: gray;
}
nav {
  @include white-text-black-bg;
  display: flex;
  justify-content: flex-start;

  a {
    @include white-text-black-bg;
    div {
      margin: 10px;
      font-size: large;
    }
  }
}
form {
    margin: 20px;
 
}
input {
    margin: 10px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px gray;
}

input:hover {
    border: solid darkblue 5px;
padding: 5px;
transition: 0.2s;
}

img {
    width: 200px;
    border: solid darkslategray 3px;
    border-radius: 5px;
}

.cheese {
    border-radius: 5px;
    border: solid black 3px;
    width: 25%;
    margin: 10px;
    background-color: lightgray;
}