// --------------------------
// VARIABLES
// --------------------------
$maincolor: black;
$contrastcolor: white;

@mixin white-text-black-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin black-test-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

// --------------------------
// Header
// --------------------------

nav {
  @include white-text-black-bg;
  display: flex;
  justify-content: flex-start;

  a {
    @include white-text-black-bg;
    div {
      margin: 10px;
      font-size: large;
    }
  }
}
form {
    margin: 20px;
 
}
input {
    margin: 10px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px gray;
}
input:hover {
    border: solid #5B6DCD 10px;
padding: 5px;
transition: 0.2s;
}
img {
    width: 200px;
}